page-login {
    .centerstuff {
        position: relative;
        text-align: center;
        top: 30%;
        width: 50%;
        margin: auto;
        height: 50%;
        .headerstuff {
            top: 50%;
        }
        .centerstuff2 {
            margin: auto;
            position: relative;
            text-align: center;
        }
    }
}